
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background: #212121;
    color:#d9d9d9;
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    margin:0;
    font-family: "Pixelify Sans", sans-serif;
}

#game-board {
    border-radius: 50px;
    display:grid;
    grid-template-columns: repeat(30, 15px);
    grid-template-rows: repeat(30, 15px);
    margin:5px;
}

.game-br1 {
    border:#7209b7 solid 5px;
    box-shadow: 5px 5px 50px 0 rgba(0,0,0,.5);
    background:#111;
}
.game-br2 {
    border:#f72585 solid 5px;
    box-shadow:inset 0 0 0 5px #7209b7;
    background:#111;
}


#instruction {
    position: absolute;
    top:45%;
    color:#d9d9d9; 
    width: 300px;
    text-align:center;
    text-transform: uppercase;
    padding:30px;
    margin:0;
}

.scores {
    display:flex;
    justify-content: space-between;
}

#score, #highscore {
    font-size: 30px;
    margin:10px 0;
}

#highscore {
    display:none;
}

.snake {
    border:#ddd 1px dotted;
    background:#ddd;
}

.food {
    background-color:#a7c957;
    border:#6a994e 5px solid;
}

